{% extends "helper_templates/base.html" %}
{% load static thumbnail %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css'%}">
{% endblock %}
{% block title %}Избранное{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include "foodgram_helpers/tags.html" %}
    </div>
    <div class="card-list">
        {% for item in page %}
            {% include "foodgram_helpers/recipe_for_index.html" with recipe=item.recipe %}
        {% endfor %}
    </div>
    {% include 'foodgram_helpers/paginator.html' %}
</main>
{% endblock %}


{% comment %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
{% endblock %}
{% endcomment %}