{% extends "helper_templates/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css'%}">
{% endblock %}
{% block title %}Избранное{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include "foodgram_helpers/tags.html" %}
    </div>
    {% if not page %}
    <div class="recipe__title">
        <p class="recipe__title">Вы еще ничего не выбрали.</p>
    </div>
    {% endif %}
    <div class="card-list">
        {% for recipe in page %}
            {% include "foodgram_helpers/recipe_for_index.html" %}
        {% endfor %}
    </div>
    {% include 'foodgram_helpers/paginator.html' %}
</main>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
{% endblock %}
