{% extends "helper_templates/base.html" %}
{% load static thumbnail %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/myFollow.css'%}">
{% endblock %}
{% block title %}Мои подписки{% endblock %}
{% block content %}
<main class="main container">
    {% include "helper_templates/name.html" with name='Мои подписки' %}
    {% if not page %}
        <div class="custom-center-block">
            <p class="custom-text-block">У вас нет еще ни одной подписки.</p>
        </div>
    {% endif %}
    <div class="card-list">
        {% for item in page %}
            {% include "foodgram_helpers/author_for_follow.html" with author=item.author %}
        {% endfor %}
    </div>
    {% include 'foodgram_helpers/paginator.html' %}
</main>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
