{% extends "helper_templates/base.html" %}
{% load static recipe_filters %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css'%}">
{% endblock %}
{% block title %}{% firstof author.get_full_name author.username %}{% endblock %}
{% block content %}
{% firstof author.get_full_name author.username as author_name %}
<main class="main container">
    {% include "helper_templates/name.html" with name=author_name include_tags=True %}
    {% if request.user.is_authenticated and request.user != author %}
        <div class="author-subscribe" data-author="{{ author.id }}">
        {% if author|check_follower:request.user %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></p>
        {% else %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        {% endif %}
        </div>
    {% endif %}
    <div class="card-list">
        {% for recipe in page %}
            {% include "foodgram_helpers/recipe_for_index.html" %}
        {% empty %}
            {% if request.user != author %}
                <h3>Этот автор еще не создал ни одного рецепта.</h3>
            {% else %}
                <h3>Вы еще не создали ни одного рецепта.</a></h3>
            {% endif %}    
        {% endfor %}
    </div>
    {% include 'foodgram_helpers/paginator.html' %}
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'authorRecipe.js' %}"></script>
{% endblock %}