{% extends "helper_templates/base.html" %}
{% load static recipe_filters %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/single.css'%}">
{% endblock %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block content %}
<main class="main container">
    <div class="single-card" data-id={{ recipe.id }} data-author={{ recipe.author.id }}>
        <img src="{{ recipe.image.url }}" alt="какой-то текст" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.title }}</h1>
                <div class="single-card__favorite">
                    {% if request.user.is_authenticated %}
                        {% include "foodgram_helpers/favorite_star.html" with help_text=True star_size="icon-favorite_big" %}
                    {% endif %}
                </div>
            </div>
            <ul class="single-card__items">
                {% include "foodgram_helpers/tags_on_recipe.html" with class_name="single-card__item" %}
            </ul>
            <div class="single-card__items single-card__items_column">
                {% include "foodgram_helpers/coocking_time.html" with class_name="single-card__text" coocking_time=recipe.time %}
                <ul class="single-card__items">
                    <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{% firstof recipe.author.get_full_name recipe.author.username %}</a></p></li>
                    {% if request.user == recipe.author %}
                    <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.slug %}" class="single-card__text">Редактировать рецепт</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if request.user.is_authenticated %}
                <ul class="single-card__items">
                {% include "foodgram_helpers/shop_button.html" with start_tag='<li class="single-card__item">' end_tag='</li>'  %}
                {% if request.user != recipe.author %}
                    {% include "foodgram_helpers/follower_button.html" with author=recipe.author start_tag='<li class="single-card__item">' end_tag='</li>' %}
                {% endif %}
                </ul>
            {% endif %}
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингредиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for ingr_quantity in recipe.quantityofingredient_set.all %}
                    <p class=" single-card__section-item">{{ ingr_quantity.ingredient.name }} - {{ ingr_quantity.quantity }} {{ ingr_quantity.ingredient.dimension }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'singlePage.js' %}"></script>
{% endblock %}
