{% extends "helper_templates/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/shopList.css'%}">
{% endblock %}
{% block title %}Список покупок{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for item in page %}
            <li class="shopping-list__item" data-id="{{ item.recipe.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{ item.recipe.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <a class="recipe__title" href="{% url 'recipe' item.recipe.slug %}" target="_self">{{ item.recipe.title }}</a>
                    <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.time }} мин.</p>
                </div>
                <a href="{% url 'purchases_delete' item.recipe.id %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% empty %}
                <h3>Список покупок пуст.</h3>
            {% endfor %}
        </ul>
        {% if page %}
            <a href="{% url 'shoplist_download' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}
    </div>
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
{% comment %}
<script src="{% static 'js/components/ShopList.js' %}"></script>
{% endcomment %}
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}