{% extends "helper_templates/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css'%}">
{% endblock %}
{% block title %}Not Found{% endblock %}
{% block content %}
<main class="main container">
    {% include "helper_templates/name.html" with name='Not Found' %}
    <div class="card-list">
      <h2>Запрошенный урл <code>{{ path }}</code>не найден<br><br><a href="{% url 'index' %}">Вернуться на главную</a></h2>
    </div>
</main>
{% endblock %}