{% extends "helper_templates/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/index.css'%}">
{% endblock %}
{% block title %}Internal Server Error {% endblock %}
{% block content %}
<main class="main container">
    {% include "helper_templates/name.html" with name='Internal Server Error' %}
    <div class="card-list">
      <h2>Внутренняя ошибка сервера.<br><br><a href="{% url 'index' %}">Вернуться на главную</a></h2>
    </div>
</main>
{% endblock %}