{% load recipe_filters %}
<div class="card-user" data-author={{ author.id }}>
    <div class="card-user__header">
        <a href="{% url 'profile' author.username %}" class="card-user__title">{% firstof author.get_full_name author.username %}</a>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:":3" %}      
              <li class="card-user__item">
                <div class="recipe">
                    <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image"></a>
                    <a class="recipe__title" href="{% url 'recipe' recipe.slug %}" target="_self">{{ recipe.title }}</a>
                    {% include "foodgram_helpers/coocking_time.html" with class_name="recipe__text" coocking_time=recipe.time %}
                </div>
              </li>
            {% endfor %}
            {% if author|recipe_count %}
              <li class="card-user__item">
                <a href="{% url 'profile' author.username %}" class="card-user__link link">Доступно еще рецептов: {{ author|recipe_count }}</a>
              </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe" onClick="location.reload()">Отписаться</button>
    </div>
</div>