{% load static recipe_filters %}
<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe' recipe.slug %}" class="link" target="_self"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.slug %}" target="_self">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.checkbox_style }}">{{ tag.title }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{% firstof recipe.author.get_full_name recipe.author.username %}</a></p>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="card__footer">
        {% if recipe.shoplist_flag %}
            <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
        {% else %}
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% endif %}
        {% include "foodgram_helpers/favorite_star.html" %}
    </div>
    {% endif %}
</div>
