{% extends "helper_templates/base.html" %}
{% load static user_filters %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/form.css'%}">
{% endblock %}
{% block title %}Войти на сайт{% endblock %}
{% block content %}
<main class="main container">
    {% include "helper_templates/name.html" with name='Войти на сайт' %}
    <div class="form-container">
        <form class="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                {% include "users_helpers/form_field.html" %}
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Войти</button>
                <a class="form__forgot-link" href="{% url 'password_reset' %}">Забыли пароль?</a>
            </div>
            {% include "users_helpers/from_error.html" %}
    </div>
</main>
{% endblock %}