{% extends "helper_templates/base.html" %}
{% load static user_filters %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static './pages/form.css'%}">
{% endblock %}
{% block title %}Изменить пароль{% endblock %}
{% block content %}
<main class="main container">
    {% include "helper_templates/name.html" with name='Изменить пароль' %}
    <div class="form-container">
        <form class="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                {% include "users_helpers/form_field.html" %}
            {% endfor %}
            {% include "users_helpers/form_button.html" with button_title="Изменить пароль" %}
            {% include "users_helpers/from_error.html" %}
        </form>
    </div>
</main>
{% endblock %}